<div id="list" class="main-box selected">
    <!--<div class="recipes-image-content" style="background-image: url('{{ recipe.image.url }}');">-->
    <div class="recipes-image-content" style="background-image: url('');">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h2 class="recipe-image-text"></h2>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <h2>Aprašymas</h2>
        <button id="editListBtn" class="btn btn-sm btn-outline-secondary" data-toggle="edit-recipe">
            <i class="fas fa-pencil"></i>
        </button>
    </div>
    <p id="recipeDescription"></p>
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h3>Igredientai: </h3>
        </div>
        <button id="addListItemBtn" class="btn btn-sm btn-outline-success">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <!--<ul id="listContainer" class="list-group mt-3"></ul>-->
    <ul class="list-group mt-3"></ul>
</div>
