{% extends "master.html" %}

{% load static %}

{% block title %}
Dashboard | Nestify
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<main class="container dashboard-container">
    <!-- Left Side: Lists -->
    
    {% include "dashboard/main_boxes/list.html"  %}
    {% include "dashboard/main_boxes/plans.html"  %}
    {% include "dashboard/main_boxes/finance.html"  %}
    {% include "dashboard/main_boxes/inventory.html"  %}
    {% include "dashboard/main_boxes/smart.html"  %}

    <!-- Right Side: Dashboard Boxes -->
    <div class="side-box">
        <div class="dashboard-boxes">
            {% include "dashboard/mini_boxes/list.html"  %}
            {% include "dashboard/mini_boxes/plans.html"  %}
            {% include "dashboard/mini_boxes/finance.html"  %}
            {% include "dashboard/mini_boxes/inventory.html"  %}
            {% include "dashboard/mini_boxes/smart.html"  %}
        </div>

        {% include "dashboard/notification.html"  %}
    </div>
</main>
{% endblock %}

{% block outter_content %}
{% include "utils/form.html" %}
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{% static 'js/dashboard/main.js' %}"></script>
<script src="{% static 'js/dashboard/api/list.js' %}"></script>
<script src="{% static 'js/dashboard/api/plans.js' %}"></script>
<script src="{% static 'js/dashboard/api/finance.js' %}"></script>
<script src="{% static 'js/dashboard/api/inventory.js' %}"></script>
{% endblock %}