<div id="list" class="main-box selected">
    <div class="plans-image-content" style="background-image: url('');">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h2 class="plans-image-text"></h2>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <h2>Aprašymas</h2>
        <button id="editDescriptionBtn" class="btn btn-sm btn-outline-secondary">
            <i class="fas fa-pencil"></i>
        </button>
    </div>
    <p id="planDescription"></p>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h3>Plano sąrašas: </h3>
        </div>
        <button id="addPlanItemBtn" class="btn btn-sm btn-outline-success">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <ul class="list-group mt-3" id="planItemList"></ul>

    <div id="planMembers" class="d-flex justify-content-between align-items-center">
        <div>
            <h3>Plano nariai:</h3>
        </div>
        <button id="addPlanMemberBtn" class="btn btn-sm btn-outline-success">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <ul class="list-group" id="planMembersList">
        <!-- Members will be dynamically added here -->
    </ul>
</div>
